<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
 	<properties>
        <property name="LOG_HOME">D:/logs</property>
    </properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
        </Console>
        <File name="ErrLog" fileName="${LOG_HOME}/error.log" immediateFlush="true" append="true">
            <PatternLayout pattern="%d{yy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
        </File>
    </Appenders>
    <Loggers>
        <Root level="all">
            <AppenderRef ref="Console" level="error"/>
            <AppenderRef ref="ErrLog" level="error" />
        </Root>
    </Loggers>
</Configuration>